@{
  Layout = "_Layout";
}
<div class = "container">
  <div class = "jumbotron">
    <h1>Vendors Form</h1>
    <p>Add a vendor here</p>
    <form action="/vendors" method="post">
      <label for="vendorName">Vendors Name:</label><br>
      <input id="vendorName" name="vendorName"><br><br>
      <label for="vendorDescription">Vendors Description:</label><br>
      <input id="vendorDescription" name="vendorDescription"><br><br>
      <button type="submit">Add Vendor</button>
    </form>
  </div>
</div>
