@{
  Layout = "_Layout";
}
<div class = "container">
 <h1>Welcome to Vendors New HTML</h1>
 <p>Add a vendor here</p>
 <form action="/vendors" method="post">
   <label for="vendorName">Vendors Name:</label>
   <input id="vendorName" name="vendorName">
   <label for="vendorDescription">Vendors Description:</label>
   <input id="vendorDescription" name="vendorDescription">
   <button type="submit">Add Vendor</button>
 </form>
</div>
