@{
  Layout = "_Layout";
}
<div class = "container">
 <h1>Welcome to Venders New HTML</h1>
 <p>Add a vendor here</p>
 <form action="vendors" method="post">
   <label for="vendorName">Vendors Name:</label>
   <input id="vendorsName" name="vendorsName">
   <label for="vendorDescription">Vendors Description:</label>
   <input id="vendorsDescription" name="vendorsDescription">
 </form>
</div>
