@{
  Layout = "_Layout";
}
<div class = "container">
  <div class = "jumbotron">
    <h1>Your order has been deleted</h1>
    <p><a href="orders">Go back to your orders for this vendor.</a></p>
  </div>
</div>
